@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  min-width: 320px;
  font-family: Tahoma, Arial, sans-serif;
}

.container {
  max-width: 1640px;
  margin: 0 auto;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__contacts {
  background: #CC3300;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 23px;
  gap: 25px;
  padding: 9px;
}

.header__info {
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
}
.header__info-logo {
  align-self: center;
  flex-basis: 10%;
}
.header__social {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.mobile-header__info {
  display: none;
}

.mobile__btn {
  display: none;
}

.logo span {
  font-size: 90px;
  color: #CC3300;
}
.logo .blue {
  background: #336699;
  width: 100%;
  height: 10px;
  display: block;
}
.logo .yellow {
  background: yellow;
  width: 100%;
  display: block;
  height: 10px;
}

.title__name {
  font-size: 50px;
  color: #CC3300;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px;
}
.title__place {
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  color: #CC3300;
}

.menu {
  flex-basis: 15%;
  display: inline-block;
  border-right: 1px solid #ccc;
}
.menu__title {
  padding: 15px;
  background: #336699;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}
.menu__inner {
  padding: 5px;
  padding-top: 15px;
}
.menu__item {
  padding-left: 25px;
  position: relative;
}
.menu__item::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: #CC3300;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all ease 0.5s;
}
.menu__item:hover:before {
  background: #336699;
}
.menu__item + .menu__item {
  margin-top: 15px;
}
.menu__link {
  color: #CC3300;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease 0.5s;
}
.menu__link:hover {
  color: #336699;
}

.active-page {
  position: relative;
}
.active-page a {
  color: #336699;
  font-weight: 700;
}
.active-page::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: #336699;
  position: absolute;
  left: 0;
  bottom: 0;
}

.about {
  display: inline-block;
  vertical-align: top;
}
.about__item {
  line-height: 22px;
}
.about__infoblock {
  padding-top: 10px;
  padding-left: 10px;
}
.about__title {
  color: #CC3300;
  padding: 15px;
  background: #ccc;
  font-weight: 700;
  font-size: 22px;
}
.about__text {
  color: #CC3300;
  font-weight: 700;
  font-size: 25px;
}
.about__photo {
  background: #ccc;
  max-width: 272px;
  text-align: center;
  padding-bottom: 5px;
  align-self: flex-start;
  float: left;
}
.about__photo p {
  font-size: 15px;
}
.about__photo__name {
  padding-top: 5px;
}

.about__now {
  margin-top: 30px;
}

.about__photo-img {
  width: 250px;
}

.bold {
  font-weight: 700;
}

.red {
  color: #CC3300;
  font-size: 25px;
}

.onlyred {
  color: #CC3300;
}

.blue {
  color: #336699;
  font-weight: 700;
}

.about__information {
  margin-left: 8px;
}

.clearfix {
  clear: both;
}

.main {
  flex-basis: 73%;
}

.clients {
  display: inline-block;
  vertical-align: top;
  max-width: 15%;
  border-left: 1px solid #ccc;
}
.clients__inner {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
}
.clients__title {
  padding: 15px;
  background: #CC3300;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}
.clients__item {
  display: inline-block;
  width: 48%;
}

.main__wrapper {
  display: flex;
}

.about__name {
  margin-top: 15px;
}

.about__job {
  margin-top: 9px;
}

.title__block {
  height: 52px;
}
.title__block h2 {
  white-space: nowrap;
  font-size: 19px;
}

.mobile-clients {
  display: none;
}

.mobile-nav {
  position: absolute;
  transform: translateX(-200%);
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all ease 0.5s;
}
.mobile-nav.active {
  transform: translateX(0);
}

.close__btn {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 20px;
}

.clearfix {
  clear: both;
}

.about__list {
  margin-bottom: 15px;
}

.about__list li {
  padding-left: 10px;
  position: relative;
}
.about__list li .about__list li {
  margin-top: 10px;
}
.about__list li::before {
  content: "•";
  position: absolute;
  left: 0;
}

@media (max-width: 1328px) {
  .title__name {
    font-size: 40px;
  }

  .logo span {
    font-size: 70px;
  }
}
@media (max-width: 1092px) {
  .title__name {
    font-size: 30px;
  }

  .logo span {
    font-size: 60px;
  }

  .header__contacts {
    font-size: 19px;
  }

  .title__block h2 {
    white-space: nowrap;
    font-size: 15px;
  }
}
@media (max-width: 952px) {
  .clients {
    display: none;
  }

  .main {
    flex-basis: 83%;
  }

  .mobile-clients {
    display: block;
  }
  .mobile-clients .clients__inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 913px) {
  .header__contacts {
    flex-direction: column;
    row-gap: 4px;
  }

  .header__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .header__info {
    display: none;
  }

  .mobile-header__info {
    display: block;
  }

  .title__name {
    text-align: center;
  }

  .mobile-header__inner {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    justify-content: center;
    gap: 45px;
  }
}
@media (max-width: 562px) {
  .tell__phone {
    display: none;
  }

  .header__location {
    display: none;
  }

  .header__contacts {
    row-gap: 16px;
    font-size: 14px;
  }

  .mobile__btn {
    display: block;
    width: 50px;
    position: absolute;
    height: 50px;
    position: relative;
    z-index: 5;
    right: 14px;
    align-self: center;
  }
  .mobile__btn span {
    width: 50px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: all 0.5s;
  }
  .mobile__btn span:nth-of-type(2) {
    top: calc(50% - 10px);
  }
  .mobile__btn span:nth-of-type(3) {
    top: calc(50% + 10px);
  }
  .mobile__btn:active {
    background: rgba(230, 230, 240, 0.4588235294);
    padding: 5px;
    border-radius: 8px;
  }

  .header__info-logo {
    display: none;
  }

  .main__wrapper .menu {
    display: none;
  }

  .main {
    flex-basis: 100%;
  }

  .about__infoblock {
    display: block;
  }

  .about__photo {
    max-width: 150px;
    float: left;
    padding-bottom: 0;
    margin-right: 12px;
  }

  .about__name {
    display: none;
  }

  .about__job {
    display: none;
  }

  .about__photo-img {
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
