// @media (max-width:1444px) {
//     .clients__title {
//         font-size: 20px;
//     }
// }


// @media (max-width:1037px) {
//     .clients__title {
//         font-size: 15px;
//         white-space: nowrap;
//     }
// }


@media (max-width:1328px) {
    .title__name {
        font-size: 40px;
    }

    .logo span {
        font-size: 70px;
    }
}

@media (max-width:1092px) {
    .title__name {
        font-size: 30px;
    }

    .logo span {
        font-size: 60px;
    }

    .header__contacts {
        font-size: 19px;
    }

    .title__block {
        & h2 {
            white-space: nowrap;
            font-size: 15px;    
        }
    }
}

@media (max-width:913px) {
    .header__contacts {
        flex-direction: column;
        row-gap: 4px;
    }

    .header__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .header__info {
        display: none;
    }

    .mobile-header__info {
        display: block;
    }

    .title__name {
        text-align: center;
    }

    .mobile-header__inner {
        display: flex;
        justify-content: space-between;
        padding: 18px 0;
        justify-content: center;
        gap: 45px;
    }
}

@media (max-width:540px) {
    .tell__phone {
        display: none;
    }

    .header__location {
        display: none;
    }

    .header__contacts {
        row-gap: 16px;
        font-size: 14px;
    }

    .mobile__btn {
        display: block;
        width: 50px;
        position: absolute;
            height: 50px;
            position: relative;
            z-index: 5;
            left: -104px;
            align-self: center;
            span {
                width: 50px;
                height: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #000;
                transition: all 0.5s;
            }
    
            & span:nth-of-type(2){
                top: calc(50% - 10px);
            }
    
            & span:nth-of-type(3){
                top: calc(50% + 10px);
            }
            &:active {
                background: #e6e6f075;
                padding: 5px;
                border-radius: 8px;
            }
    }

    .header__info-logo {
        display: none;
    }
}