// <ОБЩИЕ СТИЛИ>----------------------------------------------------------------------------------------------------------//


* {
    box-sizing: border-box;
}

html,
body {
	min-height: 100%;
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    font-family: "Montserrat";
    font-weight: 400;
    min-width: 320px;
    font-family: Tahoma, Arial, sans-serif;
	
}


.wrapper {
    overflow: hidden;
}



// .wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// }

// .main {
// 	flex: 1 0 auto;
// }

// .footer {
// 	flex: 0 0 auto;
// }


.container {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 15px;
    
}


button {
    background:transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}



