.include__page {
    flex-basis: 85%;
}

.oznakah-text {
    font-size: 17px;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

.oznakah__block {

    img {
        aspect-ratio: auto 200 / 100;
    }
}

.oznakah-block__text {
    text-align: left;
}

.menu__item li a.active-link {
    color: $red;
}


.oznakah__title {
    width:100%;
    span::before {
        content: '•';
        margin-right: 10px;
    }
}

.oznakah-page {
    
}